
header{
    top:0;
}
main{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 150px;

}
img{
    object-fit: cover;
}
.categoria {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.subgeneros {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
a {
    display: block;
    text-decoration: none;
}
.recuadroSubgenero a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.imagenSubgenero {
    height: 150px;
    width: 150px;
    /* border: 1px solid #000; */
    border-radius: 50%;
}
.imagenSubgenero img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}  

.nombreSubgenero h4 {
    font-size: large;
    margin-top: 10px;
    /* border: 1px solid #000; */
    color: black;
}
.mostrador { 
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    overflow: hidden;

}
.mostradorSubgenero {
    height: fit-content;
    text-align: center;
    margin: 20px;
}
.mostradorSubgenero h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 20px 0;
    
}
.Section__sectionLine {
    margin: 5px 0 5px 0;
    border: 2px solid var(--color-green);
    width: 100%;
    margin: auto;
}
.ficcion_books {
    display: flex;
    gap: 60px;
    overflow: auto;
    scroll-behavior: smooth;
    justify-content: space-around; 
    padding: 10px;
    max-width: 100%;
}

.book {
    max-width: 140px;
    flex-shrink: 0;
    margin: 0 20px; /* Para dar espacio entre los libros */
    
}

.book__img {
    height: 210px;
    width: 100%;
    object-fit: cover;
}
.book__img img {
    width: 100%;
    object-fit: cover;
}

.book__title {
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 15px 0 5px 0;
}
.book__autor {
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 5px 0 5px 0;
}
.book__infoCont hr {
    margin: 5px 0 5px 0;
    border: 2px solid var(--color-lightGreen);
    width: 30%;
}
.book__price {
    font-size: 16px;
    font-weight: bold;
    text-align: end;
}
/*div {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;  Muestra que el elemento es clickeable 
}*/

@media (min-width: 992px) {

    .subgeneros{
        gap: 100px;
    }
}