:root {
    --color-green: #37643b;
    --color-yellow: #dea02e;
    --color-beige: #f4efd9;
    --color-brown: #4f1b0d;
    --color-white: #fdfcf7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
main {
    min-height: 100vh;
    width: 100%;
}

/*------------ HEADER ------------*/
header {
    background-color: var(--color-green);
}
nav {
    background-color: var(--color-green);
}
.navbar-brand img {
    height: 50px;
}
.navbar-brand {
    color: var(--color-white);
}
.navbar__icon--bag,
.navbar__icon--user,
.navbar__toggle--img {
    height: 35px;
    width: 35px;
}
.navbar__icon--search {
    height: 30px;
    width: 30px;
}
.navbar-toggler {
    border: none;
    outline: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-collapse {
    background-color: var(--color-beige);
    /* Posicionamiento absoluto solo para pantallas pequeñas */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/*------------ FOOTER ------------*/
footer {
    height: auto;
    width: 100%;
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 30px 0 20px 0;
}
.container {
    max-width: 95%;
}

.footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerLogo__img {
    height: 100px;
}
.footerLogo__name {
    font-size: 24px;
}
.footerLink {
    padding: 30px 0 10px 0;
}
.footerLink ul {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
.footerLink ul li {
    padding: 15px;
    border-bottom: 3px solid var(--color-yellow);
    width: 70%;
    text-align: center;
}
.footerLink ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 20px;
}
.footerSocial {
    padding: 25px 0 25px 0;
}
.footerSocial__img {
    height: 45px;
    width: 45px;
}
.footerPolicy {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footerPolicy a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 12px;
}
.footerPolicy hr {
    width: 2px;
    height: 20px;
    margin: 0;
    border: 1px solid var(--color-yellow);
    opacity: 1;
}
.footerCopy {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerCopy p {
    margin-bottom: 0;
    font-size: 12px;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* ESCRITORIO */
@media (min-width: 992px) {
    /*------------ HEADER ------------*/
    header {
        padding: 0 2% 0 2%;
    }
    nav {
        height: 80px;
    }
    .navbar-brand img {
        height: 80px;
    }
    .navbar-brand {
        font-size: 25px;
    }
    .collapse {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 100px;
    }
    .nav-link {
        font-size: 20px;
    }

    .navbar__icon--bag,
    .navbar__icon--user {
        height: 45px;
        width: 45px;
    }
    .navbar__icon--search {
        height: 40px;
        width: 40px;
    }
    .navbar-collapse {
        position: static;
        background-color: transparent;
    }
    .nav-link {
        color: var(--color-white);
    }
    .navbar-collapse {
        background-color: var(--color-green);
    }

    .navbar-nav li {
        text-align: center;
        width: 100px;
        margin: 0 15px 0 15px;
    }

    /*------------ FOOTER ------------*/
    footer{
        padding: 20px 0 10px 0;
    }
    .footerLogo {
        justify-content: left;
    }
    .footerLogo__img {
        height: 100px;
    }
    .footerLogo__name {
        font-size: 26px;
    }
    .footerLink{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }
    .footerLink ul {
        width: 50%;
        align-items: start;
        margin-bottom: 0;
    }
    .footerLink ul li {
        border: none;
        width: auto;
        text-align: left;
        padding: 5px 0 10px 0;

    }
    .footerSocial__img{
        height: 45px;
        width: 45px;
    }
    .footerPolicy,
    .footerCopy {
        justify-content: right;
        height: 30px;
    }
}
