@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --color-green: #37643b;
    --color-yellow: #dea02e;
    --color-beige: #f4efd9;
    --color-caqui: #ccbf9d;
    --color-lightGreen: #aab883;
    --color-white: #fdfcf7;
    --color-black: #1a1a1a;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
h1 {
    font-family: "Montserrat", helvetica, arial, sans-serif;
}
h2,
h3 {
    font-family: "Lora", Georgia, times, serif;
}
p {
    font-family: "Hind Madurai", helvetica, arial, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 150vh;
    color: var(--color-black);
    background-color: var(--color-white);
    font-family: "Hind Madurai", helvetica, arial, sans-serif;
}
main {
    min-height: 150vh;
    width: 100%;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--color-white);
}
p {
    margin: 0;
    margin-bottom: 0;
    overflow-wrap: break-word;
}

button p {
    margin: 0;
}
hr {
    opacity: 1;
    border-radius: 10px;
}
.row {
    --bs-gutter-x: 0;
}
ul {
    margin-bottom: 0;
}
/*------------ HEADER ------------*/
header {
    background-color: var(--color-green);
    position: fixed;
    z-index: 99999;
    width: 100%;
    transition: all 0.3s ease;
}
.navbar-nav .nav-link.show {
    color: var(--color-yellow);
}
.navbar-nav {
    --bs-nav-link-hover-color: var(--color-white);
}

.navbar-brand img {
    height: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.navbar-brand {
    color: var(--color-white);
    font-family: "Lora", Georgia, times, serif;
    transition: color 0.3s ease;
}
.navbar-brand:hover {
    color: #dea02e;
}
.nav-item {
    text-align: center;
    width: 100%;
}

.navbar__icon {
    margin-right: 10px;
}
.navbar__icon--bag,
.navbar__icon--user,
.navbar__toggle--img {
    height: 40px;
    width: 40px;
}
.navbar__icon--bag:hover,
.navbar__icon--user:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.navbar__icon--search {
    height: 32px;
    width: 32px;
    display: none;
}
.navbar-toggler {
    border: none;
    outline: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-collapse {
    background-color: var(--color-beige);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    max-height: 91vh;
    overflow-y: scroll;
    border-bottom:  2px solid var(--color-caqui);
}

.nav-link {
    font-size: 20px;
}
.nav-link:hover {
    color: var(--color-yellow);
}

#ubication{
    scroll-margin-top: 200px;
}


.catalogueMenu {
    background-color: var(--color-white);
    width: 100%;
    height: auto;
}
.catalogueMenu ul{
    
}
.catalogueMenu li {
    list-style: none;
    text-align: left;
    margin-bottom: 10px;
}

.dropdown-menu {
    background-color: var(--color-white);
    border-radius: 0;
    border: none;
    padding: 0;
}
.categories_list {
    font-weight: bold;
    text-align: left;
    background-color: var(--color-lightGreen);
    margin: auto;
    border-bottom: 2px solid var(--color-green);
}
.categories_list p {
    padding: 5px;
    font-size: 18px;
}
.subcategory {
    font-size: 1px;
}
.dropdown-item {
    font-size: 18px;
}
/*------------ FOOTER ------------*/
footer {
    height: auto;
    width: 100%;
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 30px 0 20px 0;
}
.container {
    max-width: 95%;
}

.footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerLogo__img {
    height: 100px;
}

.footerLogo__name {
    font-size: 24px;
    font-family: "Lora", Georgia, times, serif;
    font-weight: 600;
}
.footerLogo__name:hover {
    color: var(--color-yellow);
    transition: all 0.3s ease;
    cursor: pointer;
}
.footerLink {
    padding: 30px 0 10px 0;
}
.footerLink ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
.footerLink ul li {
    padding: 15px;
    border-bottom: 3px solid var(--color-yellow);
    width: 70%;
    text-align: center;
}
.footerLink ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 20px;
}
.footerSocial {
    padding: 25px 0 25px 0;
}
.footerSocial__img {
    height: 45px;
    width: 45px;
}
.footerSocial__img:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.footerPolicy {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footerPolicy a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 12px;
}
.footerPolicy hr {
    width: 2px;
    height: 20px;
    margin: 0;
    border: 1px solid var(--color-yellow);
    opacity: 1;
    background-color: var(--color-yellow);
}
.footerCopy {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerCopy p {
    margin-bottom: 0;
    font-size: 12px;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* ESCRITORIO */
@media (min-width: 992px) {
    /*------------ HEADER ------------*/
    nav {
        margin: 0 2% 0 2%;
        height: 80px;
    }
    .navbar-brand img {
        height: 80px;
    }
    .navbar-brand {
        font-size: 25px;
    }
    .collapse {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-link {
        font-size: 22px;
    }
    .navbar__icon {
        margin-right: 0px;
        margin-left: 20px;
    }

    .navbar__icon--bag,
    .navbar__icon--user {
        height: 43px;
        width: 43px;
    }
    .navbar__icon--search {
        height: 40px;
        width: 40px;
    }
    .navbar-collapse {
        position: static;
        background-color: transparent;
        overflow: visible;
    }
    .nav-link {
        color: var(--color-white);
    }
    .navbar-collapse {
        border-bottom:  none;
    }
    .dropdown-item:hover {
        background-color: transparent;
        color: #37643b;
        transition: all 0.3s ease;
        text-decoration: underline;
    }
    .navbar-nav li {
        text-align: center;
        width: auto;
        margin: 0 20px 0 20px;
    }
    .dropdown-menu {
        width: 800px;
        display: none;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        top: 62px;
        left: 50%;
        transform: translateX(-50%);
        padding: 30px 0 30px 0;
        background-color: var(--color-lightGreen);
    }
    .dropdown-item {
        text-align: center;
    }

    .catalogueMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: var(--color-lightGreen);
    }
    .catalogueMenu li {
        padding: 5px 0 5px 0;
    }
    .categories {
        width: 30%;
    }
    .dropdown-item {
        display: flex;
    }
    .categories_list {
        width: 100%;
        background-color: var(--color-beige);
        margin: auto;
        border-bottom: 5px solid var(--color-caqui);
    }
    .categories_list:hover {
        cursor: default;
    }
    .categories_list p {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        padding: 10px;
    }
    
    /*------------ FOOTER ------------*/
    footer {
        padding: 20px 0 10px 0;
    }
    .footerLogo {
        justify-content: left;
    }
    .footerLogo__img {
        height: 100px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
    .footerLogo__name {
        font-size: 26px;
    }
    .footerLink {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }
    .footerLink ul {
        width: 50%;
        align-items: start;
        margin-bottom: 0;
    }
    .footerLink ul li {
        border: none;
        width: auto;
        text-align: left;
        padding: 5px 0 10px 0;
    }
    .footerSocial__img {
        height: 45px;
        width: 45px;
    }
    .footerPolicy,
    .footerCopy {
        justify-content: right;
        height: 30px;
    }
}
