body{
    position: relative;
}

.popUpForm{
    background-color: beige;
    max-width: 95vw;
    margin: auto;
    min-width: 80%;
    color: var(--color-white);
    background-color: var(--color-green);
    border-radius: 10px;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup-left{
    border: 2px solid black;
    display: none;
}
.popup-right{
    width: 100%;
}   
.top-PopUp{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.x-popUp{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}

.popUpLine{
    width: 2px;
    height: 20px;
    border: 2px solid var(--color-yellow);
    opacity: 1;
}

.middlePopUp{
width: 100%;
justify-content: center;
display: flex;
height: 170px;
}
.middlePopUp img{
    height: 100%;
    }

.loginForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;    
}

.loginForm label, .loginForm input{
    width: 100%;
    border-radius: 10px;

}
.loginForm input{
   height:40px;
}

.loginForm button{
    width: 100%;
    background-color: var(--color-yellow);
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: var(--color-white);
}
.forgot-password a{
    color: var(--color-white);
}

@media (min-width: 992px) {
    .popUpForm{
        max-width: 50vw;
        border-radius: 10px;
        overflow: hidden;
    }
    .popup-left{
        display:block;
        width: 50%;
        overflow: hidden;
    }
    .popup-left img{
        aspect-ratio: 1/1;
        object-fit: cover;
        height: 100%;
    }
    .popup-right{
        width: 50%;
        background-color: var(--color-green);
    }
}